<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
    <% if session[:current_user_id] %>
        <%= session[:current_user_name] %>
        <%= link_to "Log out", sessions_path, method: :delete %>
        <%= link_to "Make Event", new_event_path %>
        <%= link_to "All Events", events_path %>
    <% else %>
        <%= link_to "Log in", new_sessions_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
